@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center py-4">
                <ul class="list-inline-item">
                    <div class="list-inline-item">
                        <a href="http://google.com" target="_blank" title="Google">
                            <i class="fab fa-google fa-2x text-white"></i>
                        </a>
                    </div>
                </ul>
                <p class="text-white">&copy;SomeThingy - @DateTime.Now.Year </p>
            </div>
        </div>
    </div>

</footer>