.home-hero {
    background: no-repeat bottom center;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    color: white;
    height: 250px;
    align-items: center;
    margin-bottom: 1rem;
  }

  .home-hero > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  rgba(31, 3,103, 0.8);
    z-index: 1;
  }

  .home-hero > .inner {
    position: relative;
    z-index: 2;
  }